# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

/cache
/out

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Deployment information
/deployments
